APP_NAME=Rutafy API
ENVIRONMENT=development
DEBUG=false
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+asyncpg://postgresql://postgres:mC0drsg6KfryB7Kg@db.rutafy_demo_testing.supabase.co:5432/postgres
SUPABASE_URL=https://rutafy_demo_testing.supabase.co
SUPABASE_JWT_ISSUER=https://rutafy_demo_testing.supabase.co/auth/v1
SUPABASE_JWT_AUDIENCE=authenticated
SUPABASE_JWKS_URL=https://rutafy_demo_testing.supabase.co/auth/v1/.well-known/jwks.json
CORS_ORIGINS=["http://localhost:3000"]
LOG_LEVEL=INFO


